.radio {
  cursor: pointer;
  margin-top: 15px;
}

.radio input {
  opacity: 0;
  position: absolute;
}

.icon {
  opacity: 0;
  position: absolute;
}

.icon + span {
  font-size: 25px;
  color: #8ab1f5;
  border-radius: 50%;
  padding: 12px;
  transition: all 0.4s;
  margin-top: 5px;
}

.icon:checked + span {
  color: #d9e7fd;
  background-color: #4285f4;
}

.icon:focus + span {
  color: #fff;
}

.icon:hover::before {
  content: attr(for);
  text-transform: capitalize;
  font-size: 11px;
  position: absolute;
  top: 170%;
  left: 0;
  right: 0;
  opacity: 0.75;
  background-color: #323232;
  color: #fff;
  padding: 4px;
  border-radius: 3px;
  display: block;
}

.voted {
  font-size: 25px;
  border-radius: 50%;
  padding: 12px;
  margin-top: 5px;
  color: #d9e7fd;
  background-color: #4285f4;
}

.cancel {
  font-size: 25px;
  border: none;
  border-radius: 50%;
  height: 53px;
  width: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e68f8f;
  margin-left: 5px;
}
