.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  padding-left: 2rem;
  padding-right: 2rem;
  border-bottom: 1px solid black;
}

.info {
  text-align: left;
}

.info h4,
.info p {
  margin-bottom: 0;
}

.rating {
  width: 75px;
}

.bookmark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
