
.search{
    margin-top: 50px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Nunito", sans-serif;
    padding: 0;
    
    justify-content: flex-end;
    bottom: 0px;
    

}

<<<<<<< HEAD
.search-card-body {
=======
.search_card_body {
>>>>>>> 56d8fc8 (Added changes merged)
  background-color: lightskyblue;
  text-align: center;
  
}


<<<<<<< HEAD
.search-form{
=======
.search_form{
>>>>>>> 56d8fc8 (Added changes merged)
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: large;
    background-color: lightskyblue;
}   


<<<<<<< HEAD
.search-btn {
=======
.search_btn {
>>>>>>> 56d8fc8 (Added changes merged)
    border: none;
    color: white; 
    padding: 12px 16px; 
    font-size: 10px; 
    cursor: pointer; 
  }
  
  /* Darker background on mouse-over */
<<<<<<< HEAD
  .search-btn:hover {
    background-color: RoyalBlue;
  }

  .card-footer{
=======
  .search_btn:hover {
    background-color: RoyalBlue;
  }

  .card_footer{
>>>>>>> 56d8fc8 (Added changes merged)
    background-color: lightskyblue;
  }