.details {
  display: inline-block;
  /* flex-direction: column; */
  /* align-items: flex-end; */
  padding: 10px 0;
  padding-left: 2rem;
  padding-right: 2rem;
  border-top: #8ab1f5 2px solid;

}

.details p,
.details h1 {
  margin-bottom: 0;
}
